# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.ncrunch*
*.cache

# Rider
.idea/

# Visual Studio Code
.vscode/

# EF Core
*.db

# Logs
*.log

# NuGet
*.nupkg
packages/

# OS files
.DS_Store
Thumbs.db
